.page-header {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;

  color: #ccc;

  h1 {
    font-size: 2rem;

    @media (min-width: 576px) {
      font-size: 2.25rem;
    }

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }

    @media (min-width: 992px) {
      font-size: 3rem;
    }

    @media (min-width: 1200px) {
      font-size: 4.2rem;
    }
  }

  h2 {
    font-size: 1.15rem;

    @media (min-width: 576px) {
      font-size: 1.2rem;
    }

    @media (min-width: 768px) {
      font-size: 1.7rem;
    }

    @media (min-width: 992px) {
      font-size: 2.3rem;
    }

    @media (min-width: 1200px) {
      font-size: 2.9rem;
    }
  }

  a {
    color: #ccc;

    &:hover {
      text-decoration: none;
      color: #aaa;
    }
  }
}

.indented {
    margin-left: 8px;
  
    @media (min-width: 576px) {
      margin-left: 13px;
    }
  }
  
  .outdented {
    margin-left: -13px;
  }